<div role="scroll nav" id="navscroll" class="container is-fluid is-paddingless px-2 py-2 is-large has-background-white sticky">
	<nav class="level is-mobile">
		<!-- Left side -->
		<div class="level-left">
			<a href="/" class="level-item"><svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M23.0537 14.5641L24.8125 8H31.6082L29.8494 14.5641H40V21.1282H28.0905L26.5515 26.8718H40V33.4359H24.7927L23.0338 40H16.2382L17.997 33.4359H8V26.8718H19.7559L21.2948 21.1282H8V14.5641H23.0537Z" fill="#181818"></path></svg></a>
		</div>
	    <div class="level-item has-text-centered level-center">
	      <h1 class="is-size-7 has-text-centered has-text-weight-bold">{{ page.title }}</h1>
	    </div>
		<div role="navigation to top" class="level-right pr-1">
			<a href="#backtop"><button class="level-item button is-text"><span class="icon is-small"><i class="fas fa-sort-amount-up"></i></span></button></a> 
		</div>
	</nav>
</div>
<style>
	.level-center{
		max-width:50%;
	}
</style>