<div role="scroll nav" id="navscroll" class="container is-fluid is-paddingless px-2 py-2 is-large has-background-white sticky shad">
	<nav class="level is-mobile">
		<!-- Left side -->
		<div class="level-left">
			<a href="/" class="level-item"><img
				src="/assets/img/logo.svg"
				alt="logo iglance"/>
			</a>
		</div>
		<div class="level-item has-text-centered level-center">
			<h1 class="is-size-7 has-text-centered has-text-weight-bold">{{ page.title }}</h1>
		</div>
		<div role="navigation to top" class="level-right pr-1">
			<a href="#backtop"><button class="level-item button is-small is-text mr-2"><span class="icon is-small"><i class="fas fa-sort-amount-up"></i></span></button></a>
			
            <a href="https://github.com/iglance/iGlance"><button class="button is-small is-link is-inverted is-light mr-2">Github repo</button></a>
            <a href="#"><button class="button is-small is-info ">Download Latest</button></a>
		</div>
	</nav>
</div>
<style>
	.level-center {
		max-width:50%;
	}
	.sticky{
		position: fixed;
		top: -64px;
		width: 100%;
		z-index:999;
		opacity:0;
		transition: top 0.2s;
			box-shadow: 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 100px 80px rgba(0, 0, 0, 0.02);
	}
	
	html {
  scroll-behavior: smooth;
}

</style>