<footer>
        <div class="level px-2 py-2">
            <div class="level-left">
                <h2 class="level-item is-size-4">Built by some dudes from the internet</h2>
            </div>
            <div class="level-right">
                <p class="level-item">
                    <a href="https://twitter.com/{{site.twitter}}" class="button is-text"
                        title="Follow me on {{site.twitter}}" aria-label="{{site.twitter}}">
                        <span class="icon is-small">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
</footer>