<footer class="footer">
    <div class="container ">
        <div class="columns">
            <div class="column">
                <h2 style="margin-top:1em;" class="subtitle is-size-7">Built by some dudes from the internet</h2>
            </div>
            <div class="column is-narrow">
                <p class="buttons">
                    <a href="https://twitter.com/{{site.twitter}}" class="button is-light"
                        title="Follow me on {{site.twitter}}" aria-label="{{site.twitter}}">
                        <span class="icon is-small">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />