<section class="hero is-fullheight-with-navbar {{page.background-colour}} ">
	<div class="hero-body pt-1">
		<div class="columns is-6 is-vcentered is-centered">
			<div class="column is-6">
				{% if site.app-icon %}
					<img class="is-1by1" id="icon" width="64px" src="{{site.app-icon}}" alt="logo">
				{% endif %}
				<h1 class="is-size-1 has-text-left has-text-weight-bold">{{ page.title }}</h1>
				<p class="is-size-5 has-text-left pb-4">
					{{ page.subtitle }}
				</p>
				<p class="buttons">
					<a href="https://github.com/iglance/iGlance/releases/download/v2.0.9/iGlance_v2.0.9.zip"><button class="button is-info mr-4">Download now</button></a>
					<a href="/release-notes.html"><button class="button is-link is-inverted is-light">Release notes</button></a>
				</p>
			</div>
			{% if page.featured-img and page.featured-img != "" %}
				<div class="column is-half">
					<figure class="image is-4by3 ">
						<img class="ui" src="{{ page.featured-img }}">
					</figure>
				</div>
				<div class="column is-1"></div>
			{% endif %}
		</div>
	</div>
</section>
<style>
	.ui{
		border-radius: 12px;
		box-shadow: 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 100px 80px rgba(0, 0, 0, 0.02);
	}
</style>
