<html>
  {% include head.html %}
  <body>
    <section class="hero {% if page.hero-size %}{{page.hero-size }}{%else%}is-small{%endif%} {% if page.hero-colour %}{{page.hero-colour}} {% elsif post.hero-colour %}{{post.hero-colour}}{% else %} is-white {% endif %}">
      <div class="hero-body">
        <div class="columns is-centered">
          <div class="column is-3-tablet is-6-desktop">
            <article class="message is-danger">
                <div class="message-body">
                    Website under maintenance. Please come back later.
                    <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/XreQmk7ETCak0" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed"></iframe></div>
                </div>
              </article>
          </div>
        </div>
      </div>
      {% if post.featured-image %}
      <div class="hero-foot">
        <div class="columns is-centered">
          <div class="column is-8">
            <figure class="image is-4by3">
              <img src="/assets/img/nav.png">
              <!-- <img src="https://via.placeholder.com/640x480"> -->
            </figure>
          </div>
        </div>
      </div>
      {% endif %}
    </section>
  </body>
</html>

